<!html>
<html>
  <head>
    <title>FLAGRANT SYSTEM ERROR</title>
    <link rel="stylesheet" href="bootstrap.css">
  </head>
  <body>
    <div class="">
        
    </div>
    <div class="container">
      <div class="content">
        <div class="page-header">
          <h1>FLAGRANT SYSTEM ERROR</h1>
        </div>
        <div class="row">
          <div class="span8">
            <p>
              The system is down. I dunno what you did, moron, but you sure
              screwed everything up good.
            </p>
            <p>
              <small><%= stack.replace("\n","<br>") %></small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
