<!html>
<html>
  <head>
    <title><%= apps[0].user %>'s Nodejitsu Apps</title>
    <link rel="stylesheet" href="bootstrap.css">
  </head>
  <body style="padding-top: 20px;">
    <div class="container">
      <div class="content">
        <div class="page-header span12">
            <h1><%= apps[0].user %>'s Nodejitsu Apps:</h1>
        </div>
        <div class="row span12">
          <% apps.forEach(function(app) { %>
            <h1>
              <a href="http://<%= app.subdomain %>.nodejitsu.com">
                <%= app.name %> <small><%= app.subdomain %>.nodejitsu.com</small>
              </a>
            </h1>
          <% }) %>
        </div>
        <footer class="span12">
          <div class="row">
          <div style="text-align: left" class="span6">
            <strong>A <a href="http://github.com/nodeapps">Node Apps</a> Application</strong>
          </div>
          <div style="text-align: right;" class="span6">
            <strong>Powered by <a href="http://nodejitsu.com">Nodejitsu</a></strong>
          </div> 
        </footer>
      </div>
    </div>
  </body>
</html>
